### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_pd = pd.read_csv(file_to_load)
purchase_data_df = pd.DataFrame(purchase_data_pd)

purchase_data_pd.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [4]:
total_player = purchase_data_pd['SN'].nunique()
total_player

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
unique_id = purchase_data_pd['Item ID'].nunique()
unique_id

183

In [7]:
avr_price = purchase_data_pd['Price'].mean()
avr_price

3.050987179487176

In [8]:
num_purchase = purchase_data_pd['Purchase ID'].count()
num_purchase

780

In [9]:
total_rev = purchase_data_pd['Price'].sum()
total_rev

2379.77

In [11]:
purchasing_analysis = pd.DataFrame({
    'Number of Unique Items' : [unique_id],
    'Average Price': [avr_price],
    'Number of Purchases': [num_purchase],
    'Total Revenue': [total_rev]
})

purchasing_analysis

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

   Number of Unique Items Average Price Number of Purchases Total Revenue
0                     183         $3.05                 780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [12]:
#Total count by gender
gender = purchase_data_pd.groupby('Gender')
total_gender = gender['SN'].nunique()
total_gender

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [13]:
#Pecentage of players
perc_players = (total_gender / total_player *100)
perc_players

Gender
Female                   14.062500
Male                     84.027778
Other / Non-Disclosed     1.909722
Name: SN, dtype: float64

In [15]:
# Data frame for gender demographics
gender_demo = pd.DataFrame({
    'Total Count': total_gender,
    'Percentage of Players': perc_players
})

gender_demo.sort_values(['Total Count'], ascending = False).style.format({'Percentage of Players': "{:.2f}%"})

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [17]:
# Purchase Count
purchase_count = gender['Purchase ID'].count()
purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [18]:
# Average purchase price
avr_purchase_price = gender['Price'].mean()
avr_purchase_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [19]:
# Total purchase
total_purchase = gender['Price'].sum()
total_purchase

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [20]:
# Average Total per Person
avg_total_person = total_purchase / total_gender
avg_total_person

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [34]:
# Data Frame Purchasing Analysis by Gender

purchasing_gender = pd.DataFrame({
    'Purchase Count': purchase_count,
    'Average Purchase Price' : avr_purchase_price,
    'Total Purchase Value': total_purchase,
    'Avg Total Purchase per Person': avg_total_person
    
})

purchasing_gender.style.format({'Average Purchase Price':"${:,.2f}",
                                'Total Purchase Value':"${:,.2f}",
                                'Avg Total Purchase per Person':"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [37]:
# identify the range of ages
purchase_data_df['Age'].max() #min() ---(7, 45)

45

In [41]:
# Establish bins
bins =[0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 100,]

# Names for the bins
name_age = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-100"]

purchase_data_df['Age Group'] = pd.cut(purchase_data_df['Age'], bins, labels = name_age)

purchase_age_group = purchase_data_df.groupby('Age Group')

total_count_age = purchase_age_group['SN'].nunique()

total_count_age

Age Group
<10        17
10-14      22
15-19     107
20-24     258
25-29      77
30-34      52
35-39      31
40-100     12
Name: SN, dtype: int64

In [46]:
# Data Frame for Age Demographics
total_age = (total_count_age / total_player) *100
age_demo = pd.DataFrame({
    'Total Count' : total_count_age,
    'Percentage of Players': total_age    
})
# format
age_demo.index.name = None
age_demo.style.format({'Percentage of Players': "${:,.2f}" })

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [49]:
#Purchase Count
purchasing_age_count = purchase_age_group['Purchase ID'].count()
purchasing_age_count

<10        23
10-14      28
15-19     136
20-24     365
25-29     101
30-34      73
35-39      41
40-100     13
Name: Purchase ID, dtype: int64

In [51]:
# Average Purchase Pricing
avg_pur_pri = purchase_age_group['Price'].mean()
avg_pur_pri

<10       3.353478
10-14     2.956429
15-19     3.035956
20-24     3.052219
25-29     2.900990
30-34     2.931507
35-39     3.601707
40-100    2.941538
Name: Price, dtype: float64

In [53]:
# Total Purchase Value
total_pur_value = purchase_age_group['Price'].sum()
total_pur_value

<10         77.13
10-14       82.78
15-19      412.89
20-24     1114.06
25-29      293.00
30-34      214.00
35-39      147.67
40-100      38.24
Name: Price, dtype: float64

In [77]:
# Average Total Purchase per Person
avg_tot_person = total_pur_value / total_count_age 
avg_tot_person

Age Ranges
<10       4.537059
10-14     3.762727
15-19     3.858785
20-24     4.318062
25-29     3.805195
30-34     4.115385
35-39     4.763548
40-100    3.186667
dtype: float64

In [75]:
# Data Frame Purchasing analysis by Age
purchasing_analysis_age = pd.DataFrame({
    'Purchase count': purchasing_age_count,
    'Average Purchase Price': avg_pur_pri,
    'Total Purchase Value': total_pur_value,
    'Avg Total Purchase per Person': avg_tot_person
})

purchasing_analysis_age.index.name = 'Age Ranges'

#format
purchasing_analysis_age.style.format({'Average Purchase Price':"${:,.2f}",
                                      'Total Purchase Value':"${:,.2f}",
                                      'Avg Total Purchase per Person':"${:,.2f}"})

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [115]:
spenders_group = purchase_data_df.groupby('SN')


spenders_count = spenders_group['Purchase ID'].count()

avg_purchase_price = spenders_group['Price'].mean()

total_purchase_value = spenders_group['Price'].sum()

top_spenders = pd.DataFrame({
    'Purchase Count': spenders_count,
    'Average Purchase Price': avg_purchase_price,
    'Total Purchase Value': total_purchase_value
})

top_spenders.index.name = 'SN'
top_spenders = top_spenders.sort_values(['Total Purchase Value'], ascending = False)
top_spenders.head().style.format({
    'Average Purchase Price' : "${:.2f}",
    'Total Purchase Value': "${:.2f}"
})

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [105]:
item_df = purchase_data_df[['Item ID','Item Name','Price']]

item_group = item_df.groupby(['Item ID','Item Name'])

count_items = item_group['Price'].count()

total_purchase_value = item_group['Price'].sum()

item_price = total_purchase_value / count_items

most_popular = pd.DataFrame({
    'Purchase count': count_items,
    'Item Price': item_price,
    'Total Purchase Value': total_purchase_value
})

most_popular.index.name = 'Items ID'
most_popular = most_popular.sort_values(['Purchase count'], ascending = False)

most_popular.head().style.format({
    'Item Price': "${:.2f}",
    'Total Purchase Value':"${:.2f}"
})

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [106]:
profitable_items = most_popular.sort_values(['Total Purchase Value'], ascending = False )

profitable_items.head().style.format({
    'Item Price':"${:.2f}",
    'Total Purchase Values': "${:.2f}"
})

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80